// PLATFORM COLORS
:root {
  --pure-white: #fff;
  --blue-20: #c0e2ff;
  --blue-40: #69b6f5;
  --blue-70: #2e82c7;
  --ultramarine-95: #1c39a1;
  --green-50: #1ac994;
  --green-70: #049464;
  --green-95: #0c6a51;
  --neutral-10: #f4f5f7;
  --neutral-30: #afb9cb;
  --neutral-60: #5c697f;
  --purple-30: #9a92ff;
  --purple-50: #6d62e9;
  --purple-60: #5e21d2;
  --yellow-40: #fcdc79;
  --yellow-70: #fac234;
  --orange-60: #f39747;
  --red-70: #de423e;
  --navy-90: #1f2a37;
  --neon-blue: #22d3ee;
  --neon-pink: #ec4899;
  --main: #3a4c56;
  --transparent: transparent;
  --transparentOffWhite: rgba(248, 249, 250, 0.2);
  --transparentSecondary: rgba(19, 202, 221, 0.2);
  --black: #000000;
  --dark: #47495a;
  --lightGrey: #bdcad2;
  --lighterGrey: #dee4e8;
  --slate: #617986;
  --offWhite: #f8f9fa;
  --yellow: #ddbf13;
  --alto: #d8d8d8;
  --wildSand: #f4f4f4;
  --seaGreen: #4cf58b;
  --space: #233539;
  --lightBlack: #555459;
  --grey: #9e9ea6;
  --darkGrey: #617986;
  --placeholderGrey: #95a1a8;
  --orange: #f58b4c;
  --orangeLight: #ff8b6f;
  --lightBlue: #9bd0f0;
  --dodgerBlue: #4da1ff;
  --blue: #2db4f4;
  --darkBlue: #6a9fbd;
  --aqua: #89e4ee;
  --shady: #979797;
  --affair: #75487a;
  --salad: #4e9473;
  --alabaster: #fbfbfb;
  --cement: #917463;
  --athens: #f9fafb;
  --manatee: #9a9a9b;
  --iron: #dadbdc;
  --cyan: #13cadd;
  --mud: #913b08;
}
