// PLATFORM COLORS
:root {
  --theme-a1: #000000;
  --theme-a2: #52057b;
  --theme-a3: #892cdc;
  --theme-a4: #bc6ff1;
  --theme-b1: #162447;
  --theme-b2: #1f4068;
  --theme-b3: #1b1b2f;
  --theme-b4: #e43f5a;
  --pure-white: #fff;
  --blue-20: #c0e2ff;
  --blue-40: #69b6f5;
  --blue-70: #2e82c7;
  --ultramarine-95: #1c39a1;
  --green-50: #1ac994;
  --green-70: #049464;
  --green-95: #0c6a51;
  --neutral-10: #dadce0;
  --neutral-30: #afb9cb;
  --neutral-60: #5c697f;
  --yellow-40: #fcdc79;
  --yellow-70: #fac234;
  --orange-60: #f39747;
  --red-70: #de423e;
  --navy-40: #2c3e50;
  --navy-50: #2a394b;
  --navy-90: #1f2a37;
  --dark-primary: #1f1b24;
  --transparent: transparent;
  --transparentOffWhite: rgba(248, 249, 250, 0.2);
  --black: #000000;
  --dark: #47495a;
  --lightGrey: #bdcad2;
  --lighterGrey: #ddd;
  --primary-50: #6202ee;
  --primary-40: #8023fc;
  --primary-30: #9d56fb;
  --primary-20: #bb85fc;
  --primary-10: #d7b7fd;
  --secondary-50: #00a298;
  --secondary-40: #01b3a6;
  --secondary-30: #00c4b4;
  --secondary-20: #00dac5;
  --secondary-10: #71efde;
  --color-button-text: #fff;
  --color-primary-100: #dee3ea;
  --color-primary-100-opaque: #2c3e50a6;
  --color-primary-200: #b2bdcd;
  --color-primary-600: #323d4d;
  --color-primary-700-opaque: rgba(36, 44, 55, 0.75);
  --color-primary-700: #242c37;
  --color-primary-800: #151a21;
  --color-primary-900: #0b0e11;
  --color-secondary-washed-out: #879eed;
  --color-secondary: #5575e7;
  --bullet-grey: #5d7290;
  --purple-30: #aba5f2;
  --complementary-purple: #dee962;
  --color-accent-hover: #584ce6;
  --color-accent: #6d62e9;
  --purple-60: #5e21d2;
  --color-accent-disabled: #f5bfbf;
}
