* {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:focus {
    outline: none;
  }
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: none;
  box-shadow:0 0 0 30px #fafafa inset;
  -webkit-box-shadow: 0 0 0 30px #fafafa inset;
  transition: background-color none;
  background-color: transparent;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h4,
h5 {
  margin: 0;
}

h1 {
  font-family: 'Montserrat-Bold', sans-serif;
}

h3 {
  font-family: 'Montserrat-medium', sans-serif;
}

h4 {
  font-family: Poppins, sans-serif;
  font-weight: 200;
}

h5 {
  font-family: Poppins, sans-serif;
}

a,
div {
  font-family: Poppins, sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  text-decoration: none;
}

p {
  font-family: sans-serif;
  font-size: 14px;
  margin: 0;
}

i,
button {
  cursor: pointer;
}
