@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';

.calendar {
  margin: 0 auto;
  margin-top: 10px;
  max-width: 900px;

  .fc {
    .fc-toolbar {
      .fc-left {
        display: flex;
      }
    }
  }

  .fc-view-container {
    .fc-today {
      background: #ebe5e5;
    }
  }

  .fc-day-grid {
    .fc-event-container {
      .fc-day-grid-event {
        padding: 0;
        border-radius: 4px;
      }
      .fc-event {
        border: none;

        .event__wrapper {
          .event-text {
            padding-left: 6px;
          }

          &.event-today {
            background: #4caf50;
            padding: 0;
            border-radius: 4px;
          }

          &--edit {
            .event-text--edit {
              padding-left: 6px;
            }
          }
        }
      }
    }
  }
}
