@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';

.calendar {
  margin: 0 auto;
  margin-top: 10px;
  max-width: 900px;

  .fc {
    table {
      font-size: 14px;
    }

    .fc-toolbar {
      margin-bottom: 0.5em;

      .fc-button {
        border: none;
        background: #5393ff;
        color: #121212;
        width: 100px;
        height: 35px;
        border-radius: 4px;
      }
      .fc-today-button {
        text-transform: capitalize;
        background: #8fb5f8;
      }

      .fc-left {
        display: flex;
        align-items: center;
      }

      .fc-center {
      }

      .fc-right {
      }
    }

    .fc-view-container {
      .fc-body {
        .fc-day-grid {
          .fc-row {
            .fc-bg {
              .fc-today {
                background: transparent;
              }
            }

            .fc-content-skeleton {
              // EVENT CONTAINER
              .fc-event-container {
                .fc-day-grid-event {
                  padding: 0;
                  border-radius: 4px;
                }

                .fc-event {
                  border: none;

                  .event__wrapper {
                    .event-text {
                      padding-left: 6px;
                    }

                    &.event-today {
                      background: #4caf50;
                      padding: 0;
                      border-radius: 4px;
                    }

                    &--edit {
                      .event-text--edit {
                        padding-left: 6px;
                      }
                    }
                  }
                }
              }

              .fc-today {
                .fc-day-number {
                  margin: 3px;
                  background-color: #ef5350;
                  border-radius: 50%;
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
}
