.noscroll {
  overflow: hidden;
}

.modal__content {
  position: relative;
  align-content: stretch;
  border: none;
  box-shadow: none;
  justify-content: flex-start;
  overflow: visible;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: auto;
  min-height: 250px;
  max-width: 520px;

  .modal-content__buttons {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
