.new-event__container {
  height: 100%;
  width: 100%;
  position: relative;

  @import './views/options/options.scss';
  @import './views/prev-event/prev-event.scss';
}

@keyframes pressed {
  100% {
    transform: matrix(0.97, 0, 0, 0.97, 0, 0);
  }
}

