.navigation {
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  position: fixed;

  .navigation__global {
    background-color: var(--navy-90);
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
    display: flex;
    height: 100%;
    width: 50px;
    z-index: 1;
  }

  .navigation__context {
    will-change: width;
    background-color: var(--neutral-10);
    height: 100%;
    border-right: 1px solid var(--neutral-30);
    transition: width 400ms cubic-bezier(0.2, 0, 0, 1) 0s;

    &-opened {
      width: 170px;
    }

    &-closed {
      width: 20px;
    }

    .icon__wrapper {
      position: relative;
      grid-area: icon;
      display: flex;

      .sidebar-btn__wrapper {
        position: absolute;
        top: 25px;
        right: -12px;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
          position: relative;
          background-color: var(--pure-white);
          color: var(--slate);
          border-radius: 50%;
          box-shadow: rgba(9, 30, 66, 0.08) 0px 0px 0px 1px, rgba(9, 30, 66, 0.08) 0px 2px 4px 1px;

          &:hover {
            background-color: var(--navy-90);
            color: var(--neutral-10);

            path {
              fill: var(--neutral-10);
            }
          }
        }
      }
    }
  }
}
