$border-color: var(--lighterGrey);
$border-solid-style: 1px solid $border-color;
$border-dashed-style: 1px dashed $border-color;

.calendar {
  height: 100%;
  * {
    box-sizing: border-box;
  }
  @import './calendar_body.scss';
  @import './calendar_header.scss';
}
