.nav__wrapper {
  display: grid;
  position: absolute;
  top: 0;
  background-color: #000000;
  width: 100%;
  min-height: 50px;
  z-index: 999;

  &.slideRight {
    // transform: translateX(0%);
    transition: linear 600ms;
  }

  &.slideLeft {
    // transform: translateX(-83%);
    transition: linear 500ms;
  }

  .icon__wrapper {
   

    .icon {
      position: relative;
      color: #fff;
      padding-top: 15px;
    }
  }

  // .nav-contents__wrapper {
  //   // justify-content: space-between;
  //   // grid-template-rows: auto 1fr;
  //   grid-area: nav_contents;

  //   .nav__user-section {
  //     margin-top: 40px;

  //     .link {
  //       outline: none;
  //       grid-area: user_name;
  //       justify-self: start;
  //     }
  //   }

  //   .nav__main-section {
  //     display: grid;
  //     align-items: center;
  //     grid-column: auto;
  //     grid-gap: 25px;
  //     margin-top: 40px;

  //     .subMenu__wrapper {
  //       -webkit-box-align: center;
  //       min-height: 100px;
  //       font-weight: 700;
  //       font-size: 18px;
  //       color: #ffffff;
  //       outline: none;
  //       cursor: pointer;

  //       &.--active {
  //         font-size: 22px;
  //       }

  //       .link__text--title {
  //         padding-left: 25px;
  //       }

  //       .subMenu__contents {
  //         display: none;
  //         background-color: #141414;
  //         flex-direction: column;
  //         align-items: inherit;
  //         color: #ffffff;
  //         margin-bottom: 10px;

  //         &.openDown {
  //           display: flex;
  //           animation: slideInDown 0.4s ease-in;
  //         }

  //         .subMenu__link {
  //           font-size: 14px;
  //           margin: 20px 0;
  //           padding-left: 45px;
  //         }

  //         .subMenu__link--active {
  //           color: #005d4d;
  //         }
  //       }
  //     }
  //   }

  //   .link {
  //     display: grid;
  //     min-height: 70px;
  //     padding-left: 25px;
  //     font-weight: 700;
  //     font-size: 18px;
  //     color: #ffffff;
  //     outline: none;

  //     &.sign-in {
  //       font-size: 20px;
  //     }
  //   }

  //   .active__sign-in {
  //     color: #005d4d;
  //   }

  //   .link__active {
  //     font-size: 22px;
  //     color: #005d4d;
  //   }
  // }
}

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slideInUp {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
