.options__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 100%;

  .previous-events__card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;

    .card__container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 65%;

      .card__wrapper {
        margin: 3px 6px;
        cursor: pointer;
        transform: matrix(1, 0, 0, 1, 0, 0);
      }
    }
  }

  .new-event__card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
  }

  .pressed {
    animation: pressed 90ms;
  }
}
