.activity-table-wrapper {
  .activity-table {
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;

    .session-row {
      height: 2rem;
      .activity-session {
        font-size: 16px;
        font-weight: bold;
        text-decoration: underline;
      }
    }

    .activity-row {
      display: flex;

      .activity-cell {
        padding: 8px 4px;
        width: 100%;
        border: $border-solid-style;

        .activity-data-wrapper {
          .activity-text {
            display: flex;
            align-items: center;

            .activity-title {
              &::after {
                padding-left: 2px;
                content: ':';
              }
            }

            .activity-input {
              padding-left: 2px;
            }
          }
        }
      }
    }
  }
}

&.activity-view-wrapper {
  * {
    user-select: none;
  }
  .activity-title-wrapper {
    .title {
      color: var(--purple-30);
      font-size: 36px;
    }
  }
  .activity-notes-wrapper {
    .notes {
      color: var(--purple-30);
    }
  }
}
