$paddingLeft: 8px;

&.day-view {
  height: calc(100vh - 100px);

  .day-view-header,
  .day-view-body {
    border: $border-solid-style;
  }

  .day-view-header {
    border-bottom-width: 0;

    .cal-header-cell {
      position: relative;
      font-size: 14px;
      box-sizing: border-box;
      border-bottom: $border-solid-style;
      text-align: center;
      padding: 4px;

      .cal-header-cell-cushion {
        display: inline-block;
        padding: 2px 4px;
      }

      .icon-wrapper {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .day-view-body {
    position: relative;

    &-cell {
      border-right: $border-solid-style;
      padding: 0;

      .activity-wrapper {
        max-height: 560px;
        overflow-y: scroll;
        box-sizing: border-box;
        padding: 16px 20px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: minmax(50px, auto) minmax(50px, auto) 1fr;

        &::-webkit-scrollbar-track {
          background: transparent;
        }
        &::-webkit-scrollbar {
          width: 1px;
        }

        .activity-form-wrapper {
          @import './activity_form.scss';
        }

        @import './day_activity.scss';
      }
    }
  }
}
