.sidenav__wrapper {
  display: grid;
  grid-template-areas: 'body icon';
  grid-template-columns: 1fr 20px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #121212;
  min-width: 330px;
  min-height: 100vh;
  border-right: white solid 1px;
  z-index: 99;

  &.slide-right {
    transform: translateX(13%);
    transition: linear 400ms;
  }

  &.slide-left {
    transform: translateX(-80%);
    transition: linear 500ms;
  }

  .icon__wrapper {
    position: relative;
    grid-area: icon;
    display: flex;

    .sidebar-btn__wrapper {
      position: absolute;
      right: -12px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 55px;
      height: 48px;

      .icon {
        position: relative;
        background-color: #5393ff;
        border-radius: 50%;
        color: #fff;
      }
    }
  }

  .sidenav-contents__wrapper {
    grid-area: body;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;

    .sidenav__top {
      grid-row: 1;
      grid-column: 1;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: #fff solid 1px;

      .sidenav-header {
        color: #fff;
      }
    }

    .sidenav__main {
      grid-area: contents;
      grid-row: 2;
      grid-column: 1;

      .MuiListItemText-root,
      .MuiListItemIcon-root {
        color: #fff;
      }

      .sidenav__list {
        height: 100%;
        display: flex;
        flex-direction: column;

        .sidenav__list-item {
          text-decoration: none;
          list-style: none;
          margin: 20px 0;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }
}
