.create-activity-wrapper {
  padding: 16px 20px;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(50px, auto) minmax(50px, auto) 1fr;

  .input-wrapper {
    margin-left: 0;
    border-bottom: 1px solid var(--color-accent);
  }

  .create-activity-title-input-wrapper {
    width: 30%;
  }

  .create-activity-notes-input-wrapper {
    width: 50%;
  }

  .create-activity-table-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;
    margin-top: 24px;

    .create-activity-button-wrapper {
      text-align: center;
      margin-top: 30px;

      .create-activity-button {
        border-color: var(--color-accent);
      }
    }

    .create-activity-table {
      table-layout: fixed;
      border-spacing: 0;
      border-collapse: collapse;

      .create-activity-meta {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 8px;

        .activity-session {
          font-size: 16px;
          font-weight: bold;
          text-decoration: underline;
        }

        .activity-button-cell {
          .add-row-button {
            background-color: var(--color-accent);
            margin-right: 25px;
            font-size: 12px;

            .plus-icon {
              path {
                transform: scale(0.7) translateY(-2px) translateX(-5px);
              }
            }
          }
        }
      }

      .table-wrapper {
        table-layout: fixed;
        border-spacing: 0;
        border-collapse: collapse;

        .table-header {
          .header-cell {
            width: 100%;
            padding: 6px 4px;
            border: $border-solid-style;
          }

          .empty-cell {
            width: 25px;
            border: none;
          }
        }

        .table-body {
          .activity-row {
            display: table-row;

            .activity-cell {
              vertical-align: middle;
              border: $border-solid-style;
              padding: 8px 4px;
              width: 100%;

              .activity-cell-input {
                width: 100%;
                height: 100%;
                background-color: var(--transparent);
              }

              .activity-schema {
                .activity-schema-input-wrapper {
                  display: grid;
                  align-items: end;
                  column-gap: 4px;
                  grid-template-columns: 32px 8px 32px 8px 44px;

                  .activity-schema-input {
                    padding: 0 4px;
                    background-color: var(--transparent);
                    border-bottom: 1px solid var(--color-accent);
                  }

                  .activity-schema-input-spacer {
                    text-align: center;
                  }
                }
              }
            }

            .action-cell {
              border: none;
            }
          }
        }
      }
    }
  }
}
