&.week-view {
  .week-view-header,
  .week-view-body {
    border: $border-solid-style;
  }

  .week-view-header {
    border-bottom-width: 0;

    .cal-header-cell {
      font-size: 14px;
      box-sizing: border-box;
      border-right: $border-solid-style;
      text-align: center;

      &--not-this-month {
        opacity: 0.3;
      }

      &-cushion {
        display: inline-block;
        padding: 2px 4px;
      }

      &-number-tag:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .week-view-body {
    position: relative;

    .cal-body-section {
      height: calc(100vh - 150px);

      .cal-body-cell {
        border-right: $border-solid-style;

        &--today {
          background-color: var(--color-primary-700-opaque);
        }

        .activity-block-wrapper {
          padding: 4px;
          margin: 8px 4px;
          border-radius: 4px;
          background-color: var(--color-accent);

          .activity-title {
            margin: 3px 0;
            font-weight: bold;
          }

          .activity-notes {
            margin: 8px 0 4px 0;
            overflow: hidden;
          }

          .activity-list-wrapper {
            padding: 0;
            flex-direction: column;
            display: flex;

            .activity-list-title {
              font-weight: bold;
              margin: 8px 0 4px 0;
            }

            .activity-list-item {
              margin: 2px 4px 0;
            }
          }
        }
      }
    }
  }
}
