.datepicker__wrapper {
  .datepicker {
    align-items: center;
    display: flex;
    border: 1px solid #aeaeae;
    border-radius: 4px;
    
    .datepicker-label {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2px;
      // background-color: #e0dfdf;
    }

    .react-datepicker-wrapper {
      .react-datepicker__input-container {
        .form-control {
          border: none;
          font-size: 14px;
        }
      }
    }
  }
}
